<div class="booyah-box col-10 offset-1">

  <h1>Complete The Form Below</h1>
  <%= simple_form_for @contacts do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :message %>
    <br/>
    <%= f.submit "Send It", class: 'btn btn-primary' %>

  <% end %>

</div> 


