
<h1>Complete The Form Below</h1>

<!--<div class="booyah-box col-10 offset-1">


<%= simple_form_for @contact, url: user_contacts_path(@place) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :message %>
  <%= f.submit "Send It", class: 'btn btn-primary' %>
  <% end %>

</div>-->